### Compare MRNs in PET and ECHO reports ###
This notebook just compares PET studies and ECHO videos on the file system.

In [1]:
import os
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [2]:
cfr_data_root = os.path.normpath('/mnt/obi0/andreas/data/cfr')
cfr_meta_date = '200320'
meta_dir = os.path.join(cfr_data_root, 'metadata_'+cfr_meta_date)
print(meta_dir)

/mnt/obi0/andreas/data/cfr/metadata_200320

#### PET REPORTS ####

In [3]:
pet_echo_file = os.path.normpath('/mnt/obi0/phi/pet/pet_cfr/non_defect_plus_p2018.parquet')
pet_echo_df = pd.read_parquet(pet_echo_file)

pet = pet_echo_df.rename(columns = {'pet_date': 'cfr_study_date'})
pet = pet.astype({'cfr_study_date': 'datetime64[ns]'})
#pet = pet.merge(right = rpet, on = ['mrn', 'cfr_study_date'], how='left')
print(pet.shape)

# Remove rows or columns with all NAs
pet2 = pet.dropna(how='all')

# Remove rows in pet df with missing values in very important columns
pet2 = pet.dropna(subset=['mrn', 'cfr_study_date', 'unaffected_cfr', 'rest_mbf_unaff'], axis=0)

print(pet2.shape)

# NEW PET_REPORT_ID: unique combination of mrn and study date
ID = pet2.groupby(['mrn', 'cfr_study_date']).ngroup()
pet2 = pet2.assign(mrnstudyid=ID)
print('Unique mrn_cfr_date_id values: {}'.format(len(pet2.mrnstudyid.unique())))
print('model_cfr values: {}'.format(len(pet2.unaffected_cfr.unique())))
print('Unique patients: {}'.format(len(pet2.mrn.unique())))

(2659, 112)
(2659, 112)
Unique mrn_cfr_date_id values: 2655
model_cfr values: 2650
Unique patients: 2376

In [4]:
pet2.head(2)

        mrn cfr_study_date    petmrn_identifier  post-2018 myocardial_perfusion  global_cfr_calc  unaffected_cfr  rest_mbf_unaff  stress_mbf_unaff  num_unaffected_segs                                unaffected_segments  perf_seg_cfr           perf_segs  rest_global_mbf  var_rest_mbf  stress_global_mbf  var_stress_mbf  rest_seg1_mbf  rest_seg2_mbf  rest_seg3_mbf  rest_seg4_mbf  rest_seg5_mbf  rest_seg6_mbf  rest_seg7_mbf  rest_seg8_mbf  ...  rest_apical_inferior  rest_apical_lateral  rest_apex  stress_basal_anterior  stress_basal_anteroseptal  stress_basal_inferoseptal  stress_basal_inferior  stress_basal_inferolateral  stress_basal_anterolateral  stress_mid_anterior  stress_mid_anteroseptal  stress_mid_inferoseptal  stress_mid_inferior  stress_mid_inferolateral  stress_mid_anterolateral  stress_apical_anterior  stress_apical_septal  stress_apical_inferior  stress_apical_lateral  stress_apex  height_in  weight_lb  reportID  subjectID  mrnstudyid
0   7924277     2008-08-15   7924277_2008-08-15          0             abnormal         1.368012        1.636577        0.682400            1.1168                    5                                   [1, 2, 7, 8, 13]      1.202844  [4, 5, 10, 11, 15]            0.644      0.115952              0.881        0.162315          0.448           0.38          0.435          0.830          0.402          0.334          0.730          0.890  ...                   4.0                  0.0        0.0                    0.0                        0.0                        0.0                    4.0                         3.0                         0.0                  0.0                      0.0                      0.0                  4.0                       3.0                       0.0                     0.0                   0.0                     4.0                    0.0          0.0       67.0      133.0   69718.0     2540.0         698
1  12853099     2006-01-25  12853099_2006-01-25          0               normal         2.109661        2.124757        1.540882            3.2740                   17  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...      0.000000                  []            1.532      0.123958              3.232        0.436719          1.082           0.94          1.135          1.224          1.332          1.945          1.482          1.977  ...                   0.0                  0.0        0.0                    0.0                        0.0                        0.0                    0.0                         0.0                         0.0                  0.0                      0.0                      0.0                  0.0                       0.0                       0.0                     0.0                   0.0                     0.0                    0.0          0.0       64.0      160.0   69969.0     3379.0        1084

[2 rows x 113 columns]

#### NPY ECHO DATA ####

In [5]:
echo_files_name = 'echo_npyFiles_BWH_'+cfr_meta_date+'.parquet'
echo = pd.read_parquet(os.path.join(meta_dir, echo_files_name))
echo = echo.astype({'mrn': 'int64'})
echo = echo.assign(echo_study_date = echo.datetime.dt.date,
                   echo_study_time = echo.datetime.dt.time)
print('Echo file: {}'.format(echo_files_name))

Echo file: echo_npyFiles_BWH_200320.parquet

In [6]:
print('Number of npy files: {}'.format(len(echo.filename.unique())))
print('Unique echo studies: {}'.format(len(echo.study.unique())))
print('Unique patients:     {}'.format(len(echo.mrn.unique())))
print()
echo.head()

Number of npy files: 1186743
Unique echo studies: 23646
Unique patients:     13422

                                            filename                                                dir                                          study       mrn            datetime echo_study_date echo_study_time
0  4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...  /mnt/obi0/phi/echo/npyFiles/BWH/4a1e/4a1ed563c...  4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec  18789404 2015-08-11 16:05:24      2015-08-11        16:05:24
1  4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...  /mnt/obi0/phi/echo/npyFiles/BWH/4a1e/4a1ed563c...  4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec  18789404 2015-08-11 16:05:24      2015-08-11        16:05:24
2  4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...  /mnt/obi0/phi/echo/npyFiles/BWH/4a1e/4a1ed563c...  4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec  18789404 2015-08-11 16:05:24      2015-08-11        16:05:24
3  4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...  /mnt/obi0/phi/echo/npyFiles/BWH/4a1e/4a1ed563c...  4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec  18789404 2015-08-11 16:05:24      2015-08-11        16:05:24
4  4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec_...  /mnt/obi0/phi/echo/npyFiles/BWH/4a1e/4a1ed563c...  4a1ed563ca4f684e_4903a580509f95be6ede48ce4fec  18789404 2015-08-11 16:05:24      2015-08-11        16:05:24

#### PET STUDIES + NPY ECHO DATA ####

In [7]:
pet_echo = pet.merge(right = echo, on = 'mrn', how = 'left')
pet_echo.tail()

,mrn,cfr_study_date,petmrn_identifier,post-2018,myocardial_perfusion,global_cfr_calc,unaffected_cfr,rest_mbf_unaff,stress_mbf_unaff,num_unaffected_segs,unaffected_segments,perf_seg_cfr,perf_segs,rest_global_mbf,var_rest_mbf,stress_global_mbf,var_stress_mbf,rest_seg1_mbf,rest_seg2_mbf,rest_seg3_mbf,rest_seg4_mbf,rest_seg5_mbf,rest_seg6_mbf,rest_seg7_mbf,rest_seg8_mbf,...,stress_basal_inferoseptal,stress_basal_inferior,stress_basal_inferolateral,stress_basal_anterolateral,stress_mid_anterior,stress_mid_anteroseptal,stress_mid_inferoseptal,stress_mid_inferior,stress_mid_inferolateral,stress_mid_anterolateral,stress_apical_anterior,stress_apical_septal,stress_apical_inferior,stress_apical_lateral,stress_apex,height_in,weight_lb,reportID,subjectID,filename,dir,study,datetime,echo_study_date,echo_study_time
160411,11827664,2018-10-09,11827664_2018-10-09,1,normal,2.38,2.38,0.8,1.9,17,None,NaN,None,0.8,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4a175b3edaaf29b9_4903a58c1bc619d185b1c9479b97_...,/mnt/obi0/phi/echo/npyFiles/BWH/4a17/4a175b3ed...,4a175b3edaaf29b9_4903a58c1bc619d185b1c9479b97,2019-09-27 10:38:57,2019-09-27,10:38:57
160412,11827664,2018-10-09,11827664_2018-10-09,1,normal,2.38,2.38,0.8,1.9,17,None,NaN,None,0.8,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4a175b3edaaf29b9_4903a58c1bc619d185b1c9479b97_...,/mnt/obi0/phi/echo/npyFiles/BWH/4a17/4a175b3ed...,4a175b3edaaf29b9_4903a58c1bc619d185b1c9479b97,2019-09-27 10:38:57,2019-09-27,10:38:57
160413,11827664,2018-10-09,11827664_2018-10-09,1,normal,2.38,2.38,0.8,1.9,17,None,NaN,None,0.8,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4a175b3edaaf29b9_4903a58c1bc619d185b1c9479b97_...,/mnt/obi0/phi/echo/npyFiles/BWH/4a17/4a175b3ed...,4a175b3edaaf29b9_4903a58c1bc619d185b1c9479b97,2019-09-27 10:38:57,2019-09-27,10:38:57
160414,11827664,2018-10-09,11827664_2018-10-09,1,normal,2.38,2.38,0.8,1.9,17,None,NaN,None,0.8,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4a175b3edaaf29b9_4903a58c1bc619d185b1c9479b97_...,/mnt/obi0/phi/echo/npyFiles/BWH/4a17/4a175b3ed...,4a175b3edaaf29b9_4903a58c1bc619d185b1c9479b97,2019-09-27 10:38:57,2019-09-27,10:38:57
160415,11827664,2018-10-09,11827664_2018-10-09,1,normal,2.38,2.38,0.8,1.9,17,None,NaN,None,0.8,NaN,1.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4a175b3edaaf29b9_4903a58c1bc619d185b1c9479b97_...,/mnt/obi0/phi/echo/npyFiles/BWH/4a17/4a175b3ed...,4a175b3edaaf29b9_4903a58c1bc619d185b1c9479b97,2019-09-27 10:38:57,2019-09-27,10:38:57

In [8]:
# Filter pet studies with current echo
pet_echo_nofiles = pet_echo.loc[pet_echo.filename.isnull()].reset_index(drop = True)
petecho = pet_echo.loc[~pet_echo.study.isnull()].reset_index(drop = True)

# Save those
pet_echo_nofiles_name = 'pet_no_npyFiles_BWH_'+cfr_meta_date+'.parquet'
pet_echo_files_name = 'pet_npyFiles_BWH_'+cfr_meta_date+'.parquet'

pet_echo_nofiles.to_parquet(os.path.join(meta_dir, pet_echo_nofiles_name))
petecho.to_parquet(os.path.join(meta_dir, pet_echo_files_name))

In [9]:
pet_echo_nofiles.tail()

          mrn cfr_study_date    petmrn_identifier  post-2018 myocardial_perfusion  global_cfr_calc  unaffected_cfr  rest_mbf_unaff  stress_mbf_unaff  num_unaffected_segs                                unaffected_segments  perf_seg_cfr perf_segs  rest_global_mbf  var_rest_mbf  stress_global_mbf  var_stress_mbf  rest_seg1_mbf  rest_seg2_mbf  rest_seg3_mbf  rest_seg4_mbf  rest_seg5_mbf  rest_seg6_mbf  rest_seg7_mbf  rest_seg8_mbf  ...  stress_basal_inferoseptal  stress_basal_inferior  stress_basal_inferolateral  stress_basal_anterolateral  stress_mid_anterior  stress_mid_anteroseptal  stress_mid_inferoseptal  stress_mid_inferior  stress_mid_inferolateral  stress_mid_anterolateral  stress_apical_anterior  stress_apical_septal  stress_apical_inferior  stress_apical_lateral  stress_apex  height_in  weight_lb  reportID  subjectID  filename  dir  study  datetime  echo_study_date  echo_study_time
769   5950324     2018-10-26   5950324_2018-10-26          0               normal         2.920573        2.936366        0.770028          2.261084                   17  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...           0.0        []            0.768      0.005487              2.243        0.070517       0.698292       0.805042       0.701417       0.795375       0.783125       0.647125       0.794792       0.907542  ...                        0.0                    0.0                         0.0                         0.0                  0.0                      0.0                      0.0                  0.0                       0.0                       0.0                     0.0                   0.0                     0.0                    0.0          0.0       62.0      223.0  166129.0     7473.0       NaN  NaN    NaN       NaT              NaN              NaN
770  12224283     2020-01-17  12224283_2020-01-17          1               normal         2.880000        2.880000        0.800000          2.300000                   17                                               None           NaN      None            0.800           NaN              2.300             NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN  ...                        NaN                    NaN                         NaN                         NaN                  NaN                      NaN                      NaN                  NaN                       NaN                       NaN                     NaN                   NaN                     NaN                    NaN          NaN        NaN        NaN       NaN        NaN       NaN  NaN    NaN       NaT              NaN              NaN
771   8911976     2019-11-08   8911976_2019-11-08          1               normal         3.170000        3.170000        0.690000          2.190000                   17                                               None           NaN      None            0.690           NaN              2.190             NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN  ...                        NaN                    NaN                         NaN                         NaN                  NaN                      NaN                      NaN                  NaN                       NaN                       NaN                     NaN                   NaN                     NaN                    NaN          NaN        NaN        NaN       NaN        NaN       NaN  NaN    NaN       NaT              NaN              NaN
772  40902504     2019-11-06  40902504_2019-11-06          1               normal         2.110000        2.110000        0.650000          1.370000                   17                                               None           NaN      None            0.650           NaN              1.370             NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN  ...                        NaN                    NaN                         NaN                         NaN                  NaN                      NaN                      NaN                  NaN                       NaN                       NaN                     NaN                   NaN                     NaN                    NaN          NaN        NaN        NaN       NaN        NaN       NaN  NaN    NaN       NaT              NaN              NaN
773  25017179     2019-10-21  25017179_2019-10-21          1               normal         3.500000        3.500000        0.620000          2.170000                   17                                               None           NaN      None            0.620           NaN              2.170             NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN            NaN  ...                        NaN                    NaN                         NaN                         NaN                  NaN                      NaN                      NaN                  NaN                       NaN                       NaN                     NaN                   NaN                     NaN                    NaN          NaN        NaN        NaN       NaN        NaN       NaN  NaN    NaN       NaT              NaN              NaN

[5 rows x 118 columns]

In [10]:
print('PET with echo videos:')
#print('Number of npy files: {}'.format(len(petecho.filename.unique())))
print('Unique echo studies: {}'.format(len(petecho.study.unique())))
print('Unique patients:     {}'.format(len(petecho.mrn.unique())))

PET with echo videos:
Unique echo studies: 2954
Unique patients:     1662

In [11]:
print('PET without ECHO:')
#print('Number of npy files: {}'.format(len(petecho.filename.unique())))
print('Unique CFR studies: {}'.format(len(pet_echo_nofiles.reportID.unique())))
print('Unique patients:     {}'.format(len(pet_echo_nofiles.mrn.unique())))

PET without ECHO:
Unique CFR studies: 771
Unique patients:     714

In [12]:
pet_echo_nofiles.head()

        mrn cfr_study_date    petmrn_identifier  post-2018 myocardial_perfusion  global_cfr_calc  unaffected_cfr  rest_mbf_unaff  stress_mbf_unaff  num_unaffected_segs                                unaffected_segments  perf_seg_cfr                         perf_segs  rest_global_mbf  var_rest_mbf  stress_global_mbf  var_stress_mbf  rest_seg1_mbf  rest_seg2_mbf  rest_seg3_mbf  rest_seg4_mbf  rest_seg5_mbf  rest_seg6_mbf  rest_seg7_mbf  rest_seg8_mbf  ...  stress_basal_inferoseptal  stress_basal_inferior  stress_basal_inferolateral  stress_basal_anterolateral  stress_mid_anterior  stress_mid_anteroseptal  stress_mid_inferoseptal  stress_mid_inferior  stress_mid_inferolateral  stress_mid_anterolateral  stress_apical_anterior  stress_apical_septal  stress_apical_inferior  stress_apical_lateral  stress_apex  height_in  weight_lb  reportID  subjectID  filename  dir  study  datetime  echo_study_date  echo_study_time
0   7924277     2008-08-15   7924277_2008-08-15          0             abnormal         1.368012        1.636577        0.682400          1.116800                    5                                   [1, 2, 7, 8, 13]      1.202844                [4, 5, 10, 11, 15]            0.644      0.115952              0.881        0.162315          0.448          0.380          0.435          0.830          0.402          0.334          0.730          0.890  ...                        0.0                    4.0                         3.0                         0.0                  0.0                      0.0                      0.0                  4.0                       3.0                       0.0                     0.0                   0.0                     4.0                    0.0          0.0       67.0      133.0   69718.0     2540.0       NaN  NaN    NaN       NaT              NaN              NaN
1  15324312     2006-02-23  15324312_2006-02-23          0               normal         2.656655        2.613463        1.469000          3.839176                   17  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...      0.000000                                []            1.465      0.149121              3.892        0.655387          0.945          0.813          0.892          0.970          1.401          1.217          1.614          1.580  ...                        0.0                    0.0                         0.0                         0.0                  0.0                      0.0                      0.0                  0.0                       0.0                       0.0                     0.0                   0.0                     0.0                    0.0          0.0       64.0      146.0   70012.0     3417.0       NaN  NaN    NaN       NaT              NaN              NaN
2  20711909     2006-02-13  20711909_2006-02-13          0               normal         1.670179        1.665151        0.957235          1.593941                   17  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...      0.000000                                []            0.949      0.070380              1.585        0.101941          0.764          0.702          0.623          0.592          0.752          0.762          1.177          1.221  ...                        0.0                    0.0                         0.0                         0.0                  0.0                      0.0                      0.0                  0.0                       0.0                       0.0                     0.0                   0.0                     0.0                    0.0          0.0       67.0      140.0   70056.0     3544.0       NaN  NaN    NaN       NaT              NaN              NaN
3   4465266     2006-03-13   4465266_2006-03-13          0            equivocal         1.060990        1.040927        2.467800          2.568800                   10                   [1, 2, 3, 4, 5, 6, 7, 8, 12, 13]      1.138175                              [15]            2.607      0.431242              2.766        0.397648          2.475          1.686          1.183          1.547          2.078          3.004          3.069          3.187  ...                        0.0                    0.0                         0.0                         0.0                  0.0                      0.0                      0.0                  0.0                       0.0                       0.0                     0.0                   0.0                     1.0                    0.0          0.0       66.0      140.0   70105.0     3230.0       NaN  NaN    NaN       NaT              NaN              NaN
4  20835062     2006-03-13  20835062_2006-03-13          0             abnormal         1.049759        1.094421        0.466000          0.510000                    1                                                [5]      0.999487  [2, 7, 8, 9, 13, 14, 15, 16, 17]            0.623      0.167041              0.654        0.088593          1.178          0.701          0.551          0.464          0.466          0.527          1.803          0.923  ...                        0.0                    0.0                         0.0                         0.0                  3.0                      4.0                      3.0                  0.0                       0.0                       0.0                     4.0                   4.0                     4.0                    4.0          4.0       70.0      180.0   70148.0     3554.0       NaN  NaN    NaN       NaT              NaN              NaN

[5 rows x 118 columns]

#### ECHO STUDIES ON DCM BUT NOT CONVERTED TO NPY ####

In [13]:
dcm_studies_file = 'echo_deIdentifyedEcho_BWH_dcm_'+cfr_meta_date+'.parquet'
dcm = pd.read_parquet(os.path.join(meta_dir, dcm_studies_file))
dcm = dcm.astype({'mrn': 'int64'})
print(dcm.shape)
dcm.head()

OSError: Passed non-file path: /mnt/obi0/andreas/data/cfr/metadata_200320/echo_deIdentifyedEcho_BWH_dcm_200320.parquet

In [46]:
rm_cols = list(echo.columns)
rm_cols.remove('mrn')
pet_echo_nofiles_x = pet_echo_nofiles.drop(columns = rm_cols)

# These are CFR studies without .npy files
pet_echo_nofiles_x.head()

        mrn cfr_study_date    petmrn_identifier  post-2018 myocardial_perfusion  global_cfr_calc  unaffected_cfr  rest_mbf_unaff  stress_mbf_unaff  num_unaffected_segs                                unaffected_segments  perf_seg_cfr                         perf_segs  rest_global_mbf  var_rest_mbf  stress_global_mbf  var_stress_mbf  rest_seg1_mbf  rest_seg2_mbf  rest_seg3_mbf  rest_seg4_mbf  rest_seg5_mbf  rest_seg6_mbf  rest_seg7_mbf  rest_seg8_mbf  ...  rest_apical_septal  rest_apical_inferior  rest_apical_lateral  rest_apex  stress_basal_anterior  stress_basal_anteroseptal  stress_basal_inferoseptal  stress_basal_inferior  stress_basal_inferolateral  stress_basal_anterolateral  stress_mid_anterior  stress_mid_anteroseptal  stress_mid_inferoseptal  stress_mid_inferior  stress_mid_inferolateral  stress_mid_anterolateral  stress_apical_anterior  stress_apical_septal  stress_apical_inferior  stress_apical_lateral  stress_apex  height_in  weight_lb  reportID  subjectID
0   7924277     2008-08-15   7924277_2008-08-15          0             abnormal         1.368012        1.636577        0.682400          1.116800                    5                                   [1, 2, 7, 8, 13]      1.202844                [4, 5, 10, 11, 15]            0.644      0.115952              0.881        0.162315          0.448          0.380          0.435          0.830          0.402          0.334          0.730          0.890  ...                 0.0                   4.0                  0.0        0.0                    0.0                        0.0                        0.0                    4.0                         3.0                         0.0                  0.0                      0.0                      0.0                  4.0                       3.0                       0.0                     0.0                   0.0                     4.0                    0.0          0.0       67.0      133.0   69718.0     2540.0
1  15324312     2006-02-23  15324312_2006-02-23          0               normal         2.656655        2.613463        1.469000          3.839176                   17  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...      0.000000                                []            1.465      0.149121              3.892        0.655387          0.945          0.813          0.892          0.970          1.401          1.217          1.614          1.580  ...                 0.0                   0.0                  0.0        0.0                    0.0                        0.0                        0.0                    0.0                         0.0                         0.0                  0.0                      0.0                      0.0                  0.0                       0.0                       0.0                     0.0                   0.0                     0.0                    0.0          0.0       64.0      146.0   70012.0     3417.0
2  20711909     2006-02-13  20711909_2006-02-13          0               normal         1.670179        1.665151        0.957235          1.593941                   17  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...      0.000000                                []            0.949      0.070380              1.585        0.101941          0.764          0.702          0.623          0.592          0.752          0.762          1.177          1.221  ...                 0.0                   0.0                  0.0        0.0                    0.0                        0.0                        0.0                    0.0                         0.0                         0.0                  0.0                      0.0                      0.0                  0.0                       0.0                       0.0                     0.0                   0.0                     0.0                    0.0          0.0       67.0      140.0   70056.0     3544.0
3   4465266     2006-03-13   4465266_2006-03-13          0            equivocal         1.060990        1.040927        2.467800          2.568800                   10                   [1, 2, 3, 4, 5, 6, 7, 8, 12, 13]      1.138175                              [15]            2.607      0.431242              2.766        0.397648          2.475          1.686          1.183          1.547          2.078          3.004          3.069          3.187  ...                 0.0                   0.0                  0.0        0.0                    0.0                        0.0                        0.0                    0.0                         0.0                         0.0                  0.0                      0.0                      0.0                  0.0                       0.0                       0.0                     0.0                   0.0                     1.0                    0.0          0.0       66.0      140.0   70105.0     3230.0
4  20835062     2006-03-13  20835062_2006-03-13          0             abnormal         1.049759        1.094421        0.466000          0.510000                    1                                                [5]      0.999487  [2, 7, 8, 9, 13, 14, 15, 16, 17]            0.623      0.167041              0.654        0.088593          1.178          0.701          0.551          0.464          0.466          0.527          1.803          0.923  ...                 3.0                   4.0                  4.0        3.0                    0.0                        3.0                        0.0                    0.0                         0.0                         0.0                  3.0                      4.0                      3.0                  0.0                       0.0                       0.0                     4.0                   4.0                     4.0                    4.0          4.0       70.0      180.0   70148.0     3554.0

[5 rows x 112 columns]

In [47]:
# Merge CFR studies (without .npy) with _dcm data
pet_echo_nofiles_dcm = pet_echo_nofiles_x.merge(right = dcm, on = 'mrn', how = 'left')

# Keep just the relevant columns
cols = ['mrn', 'cfr_study_date', 'petmrn_identifier',
        'unaffected_cfr', 'filename', 'dir', 'study', 'datetime']

pet_echo_nofiles_dcm = pet_echo_nofiles_dcm[cols]
pet_echo_nofiles_dcm.head()

        mrn cfr_study_date    petmrn_identifier  unaffected_cfr      filename                                                dir                                          study            datetime
0   7924277     2008-08-15   7924277_2008-08-15        1.636577           NaN                                                NaN                                            NaN                 NaT
1  15324312     2006-02-23  15324312_2006-02-23        2.613463  Image-25.dcm  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4a13/4...  4a134023a879892a_4903a44517b58fa56642e3a22964 2006-12-21 16:06:22
2  15324312     2006-02-23  15324312_2006-02-23        2.613463   Image-7.dcm  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4a13/4...  4a134023a879892a_4903a44517b58fa56642e3a22964 2006-12-21 16:06:22
3  15324312     2006-02-23  15324312_2006-02-23        2.613463  Image-22.dcm  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4a13/4...  4a134023a879892a_4903a44517b58fa56642e3a22964 2006-12-21 16:06:22
4  15324312     2006-02-23  15324312_2006-02-23        2.613463  Image-50.dcm  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4a13/4...  4a134023a879892a_4903a44517b58fa56642e3a22964 2006-12-21 16:06:22

In [48]:
# We have many files for each mrn. 
# But we only want to know the mrn numbers for which have/not have .dcm data
#pet_echo_nofiles_dcm = pet_echo_nofiles_dcm.dropna(axis=1, how='any')
pet_echo_nofiles_dcm = pet_echo_nofiles_dcm.groupby('mrn').first().reset_index(drop = False)
pet_echo_nofiles_dcm.head()

      mrn cfr_study_date  petmrn_identifier  unaffected_cfr      filename                                                dir                                          study            datetime
0   81182     2007-08-17   81182_2007-08-17        1.709905           NaN                                                NaN                                            NaN                 NaT
1  142232     2008-09-12  142232_2008-09-12        1.406022  Image-16.dcm  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b475df4b17b04_4903a44b32e5a539f80e6819b98b 2008-09-12 14:45:49
2  240762     2007-05-14  240762_2007-05-14        1.488136           NaN                                                NaN                                            NaN                 NaT
3  337014     2015-01-13  337014_2015-01-13        1.161245  Image-36.dcm  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b45b3f6be661e_4903a5805096e33b7bded49feda1 2015-01-13 08:42:42
4  355958     2009-05-04  355958_2009-05-04        1.796596  Image-57.dcm  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b45b511f6fc45_4903a44ab12e6bfc035b257db8da 2009-05-04 13:30:47

In [49]:
#pet_echo_nofiles = pet_echo.loc[pet_echo.filename.isnull()].reset_index(drop = True)
df_pet_echo_nodcm = pet_echo_nofiles_dcm.loc[pet_echo_nofiles_dcm.filename.isnull()].\
                    drop(columns = ['filename', 'dir', 'study', 'datetime']).\
                    reset_index(drop=True)

# PET CFR studies where we have .dcm files, but not yet converted to .npy
df_pet_echo_dcm = pet_echo_nofiles_dcm.loc[~pet_echo_nofiles_dcm.filename.isnull()].\
                    drop(columns = 'filename').\
                    reset_index(drop=True)

# Save those
df_pet_echo_nodcm_file = 'pet_echo_deIdentifyedEcho_BWH_nodcm_'+cfr_meta_date+'.parquet'
df_pet_echo_dcm_file = 'pet_echo_deIdentifyedEcho_BWH_dcm_'+cfr_meta_date+'.parquet'
df_pet_echo_nodcm.to_parquet(os.path.join(meta_dir, df_pet_echo_nodcm_file))
df_pet_echo_dcm.to_parquet(os.path.join(meta_dir, df_pet_echo_dcm_file))

In [50]:
print(len(df_pet_echo_dcm.study.unique()))
df_pet_echo_dcm.head()

373

       mrn cfr_study_date   petmrn_identifier  unaffected_cfr                                                dir                                          study            datetime
0   142232     2008-09-12   142232_2008-09-12        1.406022  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b475df4b17b04_4903a44b32e5a539f80e6819b98b 2008-09-12 14:45:49
1   337014     2015-01-13   337014_2015-01-13        1.161245  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b45b3f6be661e_4903a5805096e33b7bded49feda1 2015-01-13 08:42:42
2   355958     2009-05-04   355958_2009-05-04        1.796596  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b45b511f6fc45_4903a44ab12e6bfc035b257db8da 2009-05-04 13:30:47
3   813071     2008-04-09   813071_2008-04-09        2.113199  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b4edb2e8d49d5_4903a44b32efc00c83a4de086041 2008-03-05 13:13:20
4  1114701     2011-03-07  1114701_2011-03-07        1.657001  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7a/4...  4b7a8657f190974a_4903a58584283852121803e13c25 2010-06-22 10:49:51

In [51]:
print(df_pet_echo_nodcm.shape)

(341, 4)

In [52]:
print(len(df_pet_echo_nodcm.mrn.unique()))
df_pet_echo_nodcm.head()

341

      mrn cfr_study_date  petmrn_identifier  unaffected_cfr
0   81182     2007-08-17   81182_2007-08-17        1.709905
1  240762     2007-05-14  240762_2007-05-14        1.488136
2  358002     2006-03-13  358002_2006-03-13        1.116887
3  371260     2010-01-27  371260_2010-01-27        1.428194
4  529537     2009-09-30  529537_2009-09-30        0.918612

In [53]:
print('MRNs that are not available as .dcm files: {}'.format(len(df_pet_echo_nodcm.mrn.unique())))

MRNs that are not available as .dcm files: 341

In [54]:
df_pet_echo_dcm.head()

       mrn cfr_study_date   petmrn_identifier  unaffected_cfr                                                dir                                          study            datetime
0   142232     2008-09-12   142232_2008-09-12        1.406022  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b475df4b17b04_4903a44b32e5a539f80e6819b98b 2008-09-12 14:45:49
1   337014     2015-01-13   337014_2015-01-13        1.161245  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b45b3f6be661e_4903a5805096e33b7bded49feda1 2015-01-13 08:42:42
2   355958     2009-05-04   355958_2009-05-04        1.796596  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b45b511f6fc45_4903a44ab12e6bfc035b257db8da 2009-05-04 13:30:47
3   813071     2008-04-09   813071_2008-04-09        2.113199  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7b/4...  4b7b4edb2e8d49d5_4903a44b32efc00c83a4de086041 2008-03-05 13:13:20
4  1114701     2011-03-07  1114701_2011-03-07        1.657001  /mnt/obi0/phi/echo/deIdentifyedEcho/BWH/4b7a/4...  4b7a8657f190974a_4903a58584283852121803e13c25 2010-06-22 10:49:51

In [55]:
print('Studies that are yet available as .dcm files: {}'.format(len(df_pet_echo_dcm.study.unique())))
print('MRNs that are available as .dcm files: {}'.format(len(df_pet_echo_dcm.mrn.unique())))

Studies that are yet available as .dcm files: 373
MRNs that are available as .dcm files: 373

In [56]:
print('MRNs that are NOT available as .dcm files: {}'.format(len(df_pet_echo_nodcm.mrn.unique())))

MRNs that are NOT available as .dcm files: 341

In [57]:
df_pet_echo_nodcm

          mrn cfr_study_date    petmrn_identifier  unaffected_cfr
0       81182     2007-08-17     81182_2007-08-17        1.709905
1      240762     2007-05-14    240762_2007-05-14        1.488136
2      358002     2006-03-13    358002_2006-03-13        1.116887
3      371260     2010-01-27    371260_2010-01-27        1.428194
4      529537     2009-09-30    529537_2009-09-30        0.918612
5      661447     2007-04-05    661447_2007-04-05        1.330137
6      994186     2012-07-02    994186_2012-07-02        1.666560
7     1074152     2009-07-07   1074152_2009-07-07        1.217633
8     1241975     2010-07-30   1241975_2010-07-30        1.615243
9     1688415     2009-04-27   1688415_2009-04-27        1.946004
10    1825777     2016-12-08   1825777_2016-12-08        1.729187
11    1930148     2008-04-17   1930148_2008-04-17        1.456833
12    2181956     2008-10-23   2181956_2008-10-23        0.708066
13    2229813     2009-07-07   2229813_2009-07-07        2.123796
14    2236479     2009-05-26   2236479_2009-05-26        2.240945
15    2332252     2007-07-17   2332252_2007-07-17        1.074676
16    2571024     2015-07-16   2571024_2015-07-16        1.633373
17    2611002     2009-02-23   2611002_2009-02-23        2.404412
18    2622793     2010-03-03   2622793_2010-03-03        1.333054
19    2689065     2013-04-15   2689065_2013-04-15        2.446606
20    2797736     2006-01-17   2797736_2006-01-17        1.574863
21    2814424     2007-12-13   2814424_2007-12-13        1.631643
22    2912632     2009-08-12   2912632_2009-08-12        2.084796
23    3126281     2014-07-15   3126281_2014-07-15        1.195695
24    3340338     2012-07-31   3340338_2012-07-31        1.641909
25    3340411     2010-05-06   3340411_2010-05-06        1.108973
26    3441623     2007-07-25   3441623_2007-07-25        2.376483
27    3575560     2014-05-20   3575560_2014-05-20        2.104972
28    3584661     2010-05-21   3584661_2010-05-21        2.550381
29    3813987     2009-04-06   3813987_2009-04-06        2.244235
30    3824844     2009-01-12   3824844_2009-01-12        1.256868
31    3829041     2009-07-13   3829041_2009-07-13        2.735406
32    3849148     2008-04-03   3849148_2008-04-03        1.999025
33    3912839     2012-03-13   3912839_2012-03-13        1.525882
34    3960416     2008-10-20   3960416_2008-10-20        2.441246
35    4174850     2009-06-15   4174850_2009-06-15        1.695845
36    4238333     2009-12-11   4238333_2009-12-11        1.268481
37    4248514     2013-04-23   4248514_2013-04-23        1.736291
38    4277505     2009-10-13   4277505_2009-10-13        1.895913
39    4465266     2006-03-13   4465266_2006-03-13        1.040927
40    4566683     2010-02-03   4566683_2010-02-03        2.002348
41    4859146     2007-12-31   4859146_2007-12-31        0.929308
42    5011440     2007-06-13   5011440_2007-06-13        1.411478
43    5014006     2010-12-30   5014006_2010-12-30        1.481632
44    5019088     2007-02-08   5019088_2007-02-08        0.581992
45    5170386     2008-10-24   5170386_2008-10-24        1.408435
46    5229976     2009-10-27   5229976_2009-10-27        0.800363
47    5291745     2008-07-15   5291745_2008-07-15        0.779649
48    5343124     2015-05-20   5343124_2015-05-20        2.378158
49    5428875     2009-04-29   5428875_2009-04-29        2.185236
50    5507363     2007-09-25   5507363_2007-09-25        1.841300
51    5615307     2010-01-19   5615307_2010-01-19        3.737901
52    5783956     2012-05-22   5783956_2012-05-22        1.624569
53    5811179     2016-04-04   5811179_2016-04-04        2.531053
54    5921424     2009-10-21   5921424_2009-10-21        1.427459
55    5950324     2018-10-26   5950324_2018-10-26        2.936366
56    6050561     2010-11-15   6050561_2010-11-15        1.187964
57    6079453     2007-05-09   6079453_2007-05-09        1.244167
58    6686505     2010-01-13   6686505_2010-01-13        3.024650
59    6834881     2008-03-04   6834881_2008-03-04        2.255382
60    6883789     2017-07-13   6883789_2017-07-13        2.628239
61    6899439     2009-11-27   6899439_2009-11-27        1.501298
62    6971758     2011-09-06   6971758_2011-09-06        1.388530
63    6972475     2007-12-20   6972475_2007-12-20        1.783570
64    7336019     2010-07-16   7336019_2010-07-16        1.826076
65    7865439     2009-08-14   7865439_2009-08-14        1.467666
66    7924277     2008-08-15   7924277_2008-08-15        1.636577
67    8000655     2009-06-18   8000655_2009-06-18        1.857659
68    8134595     2010-01-28   8134595_2010-01-28        1.832494
69    8171910     2009-02-19   8171910_2009-02-19        1.447743
70    8184038     2007-08-06   8184038_2007-08-06        2.693401
71    8245300     2007-06-25   8245300_2007-06-25        2.813683
72    8341851     2008-08-22   8341851_2008-08-22        1.529428
73    8380271     2010-03-04   8380271_2010-03-04        2.597322
74    8717019     2008-10-24   8717019_2008-10-24        1.574829
75    8771404     2006-12-01   8771404_2006-12-01        1.947025
76    8912529     2007-01-23   8912529_2007-01-23        3.245424
77    8948937     2006-11-17   8948937_2006-11-17        0.918319
78    8992166     2009-10-13   8992166_2009-10-13        0.872546
79    9035155     2007-12-13   9035155_2007-12-13        1.030601
80    9068461     2009-04-27   9068461_2009-04-27        1.449148
81    9611716     2009-04-09   9611716_2009-04-09        0.996096
82    9835513     2011-05-13   9835513_2011-05-13        2.128212
83   10023620     2009-06-22  10023620_2009-06-22        2.356733
84   10216224     2009-07-29  10216224_2009-07-29        2.802919
85   10582849     2009-05-14  10582849_2009-05-14        3.038919
86   10795680     2008-11-12  10795680_2008-11-12        1.136936
87   11116480     2010-04-27  11116480_2010-04-27        1.443257
88   11122215     2007-10-11  11122215_2007-10-11        2.254810
89   11965076     2009-07-30  11965076_2009-07-30        1.001779
90   11976347     2010-01-25  11976347_2010-01-25        3.323891
91   11997129     2010-12-20  11997129_2010-12-20        0.785179
92   12084315     2010-01-21  12084315_2010-01-21        1.300181
93   12086245     2008-02-08  12086245_2008-02-08        1.370873
94   12380549     2015-03-11  12380549_2015-03-11        1.721883
95   12557294     2008-12-22  12557294_2008-12-22        1.936378
96   12558722     2010-05-06  12558722_2010-05-06        1.754820
97   12712980     2008-10-31  12712980_2008-10-31        1.711300
98   12808275     2009-03-16  12808275_2009-03-16        4.013201
99   12894622     2013-11-19  12894622_2013-11-19        1.510495
100  13460274     2009-03-16  13460274_2009-03-16        1.168285
101  13752563     2008-12-23  13752563_2008-12-23        1.898601
102  13757802     2008-11-24  13757802_2008-11-24        1.566508
103  13774633     2009-09-29  13774633_2009-09-29        1.744186
104  14028518     2009-12-15  14028518_2009-12-15        1.403286
105  14030290     2010-09-09  14030290_2010-09-09        1.148449
106  14033666     2011-02-22  14033666_2011-02-22        1.957759
107  14048250     2008-12-10  14048250_2008-12-10        1.465110
108  14097968     2008-06-17  14097968_2008-06-17        0.889073
109  14187033     2009-09-03  14187033_2009-09-03        1.598272
110  14383491     2008-12-19  14383491_2008-12-19        2.765099
111  14440754     2010-03-10  14440754_2010-03-10        2.791574
112  14490502     2011-05-05  14490502_2011-05-05        0.911429
113  14617211     2009-11-30  14617211_2009-11-30        1.695725
114  14713309     2009-06-23  14713309_2009-06-23        2.187519
115  14784920     2008-07-28  14784920_2008-07-28        1.019811
116  14849814     2009-11-24  14849814_2009-11-24        2.455907
117  14874937     2007-11-23  14874937_2007-11-23        1.714754
118  14881023     2009-04-02  14881023_2009-04-02        1.336550
119  14992192     2009-02-19  14992192_2009-02-19        1.597427
120  15235807     2010-03-09  15235807_2010-03-09        1.920470
121  15534688     2009-05-11  15534688_2009-05-11        1.348485
122  15712680     2008-09-04  15712680_2008-09-04        1.345890
123  15727316     2009-01-23  15727316_2009-01-23        1.487269
124  15807340     2008-10-28  15807340_2008-10-28        1.506197
125  15948896     2007-12-24  15948896_2007-12-24        1.350694
126  16022683     2009-02-23  16022683_2009-02-23        0.936523
127  16455768     2007-12-27  16455768_2007-12-27        1.234916
128  16631996     2008-10-07  16631996_2008-10-07        2.281625
129  16807687     2010-07-09  16807687_2010-07-09        1.685491
130  16811085     2009-05-12  16811085_2009-05-12        1.877944
131  16904021     2013-07-02  16904021_2013-07-02        2.329340
132  16922361     2011-05-09  16922361_2011-05-09        1.673014
133  16946618     2013-06-24  16946618_2013-06-24        1.918142
134  16991085     2015-04-15  16991085_2015-04-15        2.455224
135  17068594     2009-01-07  17068594_2009-01-07        1.603396
136  17130725     2006-01-24  17130725_2006-01-24        1.657683
137  17170440     2014-03-25  17170440_2014-03-25        2.766067
138  17175985     2006-04-11  17175985_2006-04-11        2.045165
139  17204272     2010-07-16  17204272_2010-07-16        1.645191
140  17342791     2008-05-08  17342791_2008-05-08        1.973959
141  17442484     2008-05-20  17442484_2008-05-20        1.295853
142  17449083     2007-03-22  17449083_2007-03-22        1.866602
143  17528654     2009-05-28  17528654_2009-05-28        1.722380
144  17546573     2008-11-05  17546573_2008-11-05        0.833230
145  17562158     2017-05-25  17562158_2017-05-25        2.272296
146  17574534     2008-04-02  17574534_2008-04-02        1.641425
147  17618927     2009-07-20  17618927_2009-07-20        1.626619
148  17764416     2012-01-03  17764416_2012-01-03        2.037581
149  17785254     2011-05-20  17785254_2011-05-20        0.951090
150  17843830     2010-03-08  17843830_2010-03-08        1.259622
151  17951633     2010-03-16  17951633_2010-03-16        2.151128
152  18174987     2013-10-04  18174987_2013-10-04        2.087992
153  18185660     2009-03-26  18185660_2009-03-26        1.524679
154  18318261     2010-03-03  18318261_2010-03-03        1.251106
155  18355057     2009-10-30  18355057_2009-10-30        1.085664
156  18361261     2009-02-05  18361261_2009-02-05        3.337672
157  18361311     2008-04-22  18361311_2008-04-22        2.290645
158  18361352     2009-06-29  18361352_2009-06-29        2.222458
159  18468710     2009-04-21  18468710_2009-04-21        1.360032
160  18473611     2009-09-11  18473611_2009-09-11        2.587985
161  18567701     2009-09-29  18567701_2009-09-29        1.169155
162  18724203     2009-11-12  18724203_2009-11-12        1.237687
163  18793331     2009-07-07  18793331_2009-07-07        1.984989
164  18810440     2008-12-10  18810440_2008-12-10        2.842989
165  18895060     2009-01-08  18895060_2009-01-08        1.166780
166  18946947     2011-06-13  18946947_2011-06-13        2.528532
167  19020528     2011-12-07  19020528_2011-12-07        1.326368
168  19071471     2010-10-28  19071471_2010-10-28        1.172695
169  19081736     2018-10-01  19081736_2018-10-01        1.849849
170  19114404     2009-10-08  19114404_2009-10-08        2.068309
171  19125046     2009-11-24  19125046_2009-11-24        2.010831
172  19153113     2012-10-02  19153113_2012-10-02        2.081633
173  19162783     2011-12-15  19162783_2011-12-15        1.644935
174  19172006     2010-06-22  19172006_2010-06-22        1.123786
175  19467075     2014-12-01  19467075_2014-12-01        1.651997
176  19504091     2010-03-03  19504091_2010-03-03        1.587721
177  19680073     2011-12-07  19680073_2011-12-07        1.834568
178  19713262     2007-11-23  19713262_2007-11-23        1.515868
179  19816891     2006-12-08  19816891_2006-12-08        3.329450
180  19882125     2009-07-13  19882125_2009-07-13        1.964089
181  19885714     2009-04-23  19885714_2009-04-23        1.361508
182  19934256     2009-06-22  19934256_2009-06-22        1.039013
183  19939198     2010-04-15  19939198_2010-04-15        1.247457
184  19944636     2009-05-06  19944636_2009-05-06        2.271386
185  20069316     2009-04-13  20069316_2009-04-13        2.055951
186  20149845     2009-08-03  20149845_2009-08-03        2.239731
187  20160065     2006-01-19  20160065_2006-01-19        1.203985
188  20221545     2008-03-04  20221545_2008-03-04        1.352009
189  20267688     2014-10-23  20267688_2014-10-23        2.225204
190  20346110     2012-06-14  20346110_2012-06-14        0.948276
191  20356606     2006-11-29  20356606_2006-11-29        1.446586
192  20540860     2011-11-15  20540860_2011-11-15        1.425139
193  20557062     2009-08-17  20557062_2009-08-17        1.436664
194  20565834     2008-07-17  20565834_2008-07-17        1.829484
195  20678694     2006-02-06  20678694_2006-02-06        1.502588
196  20678900     2009-12-30  20678900_2009-12-30        4.297701
197  20710885     2006-03-08  20710885_2006-03-08        1.061352
198  20725511     2007-07-10  20725511_2007-07-10        2.724716
199  20738589     2009-02-04  20738589_2009-02-04        1.548193
200  20936043     2006-04-06  20936043_2006-04-06        0.942187
201  20988200     2010-03-12  20988200_2010-03-12        1.202816
202  21383039     2009-03-18  21383039_2009-03-18        2.006234
203  21383690     2010-02-17  21383690_2010-02-17        1.709650
204  21442827     2009-10-08  21442827_2009-10-08        1.752028
205  21467527     2009-07-13  21467527_2009-07-13        1.921844
206  21499652     2011-03-22  21499652_2011-03-22        1.188761
207  21711791     2011-12-06  21711791_2011-12-06        1.872020
208  21715487     2007-03-15  21715487_2007-03-15        1.933725
209  21761242     2011-05-19  21761242_2011-05-19        1.100932
210  21783766     2012-04-10  21783766_2012-04-10        1.165380
211  21910690     2007-06-12  21910690_2007-06-12        0.915478
212  21930649     2010-02-24  21930649_2010-02-24        1.445817
213  21934864     2007-06-12  21934864_2007-06-12        2.484794
214  21963673     2014-04-03  21963673_2014-04-03        1.714228
215  21978549     2007-05-25  21978549_2007-05-25        2.561141
216  22079248     2011-12-28  22079248_2011-12-28        1.346296
217  22131072     2007-07-24  22131072_2007-07-24        1.012652
218  22151328     2010-07-02  22151328_2010-07-02        1.645482
219  22161244     2007-08-10  22161244_2007-08-10        2.512275
220  22187835     2007-10-11  22187835_2007-10-11        1.948268
221  22194138     2011-04-26  22194138_2011-04-26        1.643589
222  22249114     2008-05-28  22249114_2008-05-28        1.783860
223  22261176     2014-01-29  22261176_2014-01-29        2.803366
224  22312441     2007-11-13  22312441_2007-11-13        2.490523
225  22363204     2008-02-20  22363204_2008-02-20        0.980697
226  22366850     2007-12-12  22366850_2007-12-12        1.190999
227  22412514     2008-12-04  22412514_2008-12-04        2.550994
228  22490809     2007-12-20  22490809_2007-12-20        1.204134
229  22549224     2008-04-21  22549224_2008-04-21        1.069280
230  22567473     2014-03-06  22567473_2014-03-06        1.504646
231  22574891     2008-02-15  22574891_2008-02-15        2.325605
232  22586184     2008-01-25  22586184_2008-01-25        1.435780
233  22586531     2008-01-28  22586531_2008-01-28        1.701424
234  22632699     2008-02-27  22632699_2008-02-27        1.022742
235  22718928     2012-10-18  22718928_2012-10-18        1.362158
236  22840508     2009-02-17  22840508_2009-02-17        1.478043
237  22842629     2009-02-17  22842629_2009-02-17        1.559465
238  22914071     2009-08-12  22914071_2009-08-12        1.102511
239  22956817     2008-05-28  22956817_2008-05-28        1.747939
240  23057839     2008-07-25  23057839_2008-07-25        1.457060
241  23106842     2009-01-02  23106842_2009-01-02        1.773821
242  23199359     2010-06-03  23199359_2010-06-03        1.315258
243  23238652     2008-09-15  23238652_2008-09-15        1.492533
244  23269756     2010-06-07  23269756_2010-06-07        2.235055
245  23313133     2008-09-25  23313133_2008-09-25        1.618138
246  23335110     2008-12-24  23335110_2008-12-24        2.030523
247  23336480     2008-09-30  23336480_2008-09-30        2.326834
248  23340565     2014-02-06  23340565_2014-02-06        1.198590
249  23405806     2010-03-09  23405806_2010-03-09        1.374385
250  23410491     2010-03-05  23410491_2010-03-05        1.618932
251  23534134     2010-03-16  23534134_2010-03-16        1.947482
252  23545304     2009-02-20  23545304_2009-02-20        2.452517
253  23576333     2009-02-10  23576333_2009-02-10        1.960085
254  23642879     2009-03-20  23642879_2009-03-20        1.865539
255  23656473     2011-11-01  23656473_2011-11-01        1.378059
256  23686975     2010-01-12  23686975_2010-01-12        1.024173
257  23698947     2009-03-30  23698947_2009-03-30        1.608821
258  23710908     2011-02-18  23710908_2011-02-18        3.376997
259  23783830     2010-11-29  23783830_2010-11-29        2.809033
260  23855372     2009-05-06  23855372_2009-05-06        2.131195
261  23864465     2009-07-15  23864465_2009-07-15        1.674776
262  23947906     2009-06-23  23947906_2009-06-23        1.051989
263  24021784     2013-12-18  24021784_2013-12-18        1.356959
264  24093270     2009-08-05  24093270_2009-08-05        1.720635
265  24098287     2010-02-02  24098287_2010-02-02        0.957326
266  24114282     2009-09-22  24114282_2009-09-22        1.648159
267  24147100     2013-09-13  24147100_2013-09-13        2.326975
268  24275729     2010-04-05  24275729_2010-04-05        1.920161
269  24316242     2009-11-09  24316242_2009-11-09        1.248822
270  24335960     2009-10-20  24335960_2009-10-20        1.014374
271  24339137     2009-10-27  24339137_2009-10-27        1.308676
272  24387383     2010-01-05  24387383_2010-01-05        1.159964
273  24437758     2010-01-13  24437758_2010-01-13        2.800906
274  24452369     2009-12-01  24452369_2009-12-01        1.150659
275  24459331     2010-04-15  24459331_2010-04-15        2.417609
276  24463770     2009-12-16  24463770_2009-12-16        0.900516
277  24492464     2010-01-07  24492464_2010-01-07        1.051962
278  24504037     2010-01-04  24504037_2010-01-04        1.750163
279  24526048     2009-12-29  24526048_2009-12-29        1.331134
280  24548703     2010-02-18  24548703_2010-02-18        1.766712
281  24549966     2010-02-10  24549966_2010-02-10        1.905045
282  24599029     2010-02-02  24599029_2010-02-02        2.668538
283  24619074     2010-02-19  24619074_2010-02-19        1.480659
284  24644999     2011-05-03  24644999_2011-05-03        1.972549
285  24656795     2010-06-08  24656795_2010-06-08        1.808268
286  24713273     2010-03-29  24713273_2010-03-29        1.906455
287  24722068     2010-06-14  24722068_2010-06-14        1.464228
288  24735268     2010-04-07  24735268_2010-04-07        2.419417
289  24737132     2010-07-12  24737132_2010-07-12        1.295166
290  24746372     2010-04-13  24746372_2010-04-13        1.368030
291  24746844     2010-04-13  24746844_2010-04-13        1.224044
292  24758740     2010-04-09  24758740_2010-04-09        2.479556
293  24764474     2010-05-21  24764474_2010-05-21        0.826624
294  24774366     2010-04-27  24774366_2010-04-27        1.747358
295  24776189     2010-04-28  24776189_2010-04-28        0.846890
296  24896706     2010-05-27  24896706_2010-05-27        0.720963
297  25124074     2010-08-12  25124074_2010-08-12        0.697120
298  25189788     2010-09-22  25189788_2010-09-22        1.517542
299  25232216     2010-09-23  25232216_2010-09-23        1.682955
300  25269390     2010-10-13  25269390_2010-10-13        1.331541
301  25312471     2010-10-22  25312471_2010-10-22        1.300164